# REDX Bot Deployer - Environment Variables
PORT=3000
ADMIN_PASSWORD=redx
HEROKU_API_KEY=HRKU-AAtfI59r2pRGW6gAak5c10g-tYCS_URvC4Oy9Sks5nYw_____wAVUH6n-BJG
DATABASE_URL=postgres://user:pass@host:5432/dbname
BOT_REPO_NAME=redxbot302
FORK_CHECK_REPO=AbdulRehman19721986/redxbot302
